.home-image {
  display: block;
  width: 100%;
  height: 99vh;
  opacity: 0.9;
}

.data {
  position: relative;
}

@media screen and (max-width: 768px) {
  .home-image {
    height: 25vh;
    margin-top: 90px;
  }

  .data {
    position: absolute;
  }
}