.hall_container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}

.button {
  background-color: var(--main);
  color: black;
  font-weight: bold;
}

/* .button:hover {
  background-color: var(--text-primary)
} */

.image {
  width: 400px;
  height: 300px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .hall_container {
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 320px;
    height: 300px;
  }
}