:root {
  /* --main: #97bf0f; */
  --secondary: white;
  --text-primary: #252525;
  --text-secondary: #d7d7d7;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navigation {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  background: #d7d7d7;
  color: #000;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #000;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  font-weight: bold;
}

.link:hover {
  background: #A3E635;
  color: #000;
  transition: all 0.5s;
}

.active {
  background: #A3E635;
  color: #fff;
}

.icon,
.link_text {
  font-size: 20px;
}