
$green:#97bf0f;

@import "node_modules/bootstrap/scss/bootstrap";

.btn-success {
  color: #fff !important;
}

.btn-outline-success:hover,
.btn-outline-success:active {
  color: #fff !important;
}

:root {
  --main: #97bf0f;
  --secondary: white;
  --text-primary: #252525;
  --text-secondary: #d7d7d7;
  --bg: #f4f6f9;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: var(--bg);
}

/* Active Navlink Class */
.active {
  background: var(--main) !important;
  color: var(--secondary) !important;
}
